@charset "utf-8";
@use "../common/variables" as variables;
@use "../common/functions" as functions;

footer {
  background-color: variables.$color-base-LightGreen;

  .footer {
    &__inner {
      padding-top: functions.vw(160);
      max-width: functions.vw(1026);
      margin: 0 auto;
    }

    &-contents {
      &__area {
        margin-top: functions.vw(40);
        display: flex;
        column-gap: functions.vw(58);
      }

      &__title {
        width: max-content;
        margin: 0 auto;
      }

      &__box {
        max-width: functions.vw(459);
      }

      &__top {
        max-width: unset;
        text-align: left;
      }

      &__post {
        margin-top: functions.vw(16);
      }

      &__phone {
        text-align: left;
        margin-top: functions.vw(16);
        span {
          font-size: functions.vw(18);
        }
      }

      &__image {
        margin-top: functions.vw(16);
      }

      &__contact {
        display: block;
        max-width: functions.vw(300);
        margin-top: functions.vw(32);
        background-color: variables.$color-base-Green;
        padding: functions.vw(14) functions.vw(22);
        border-radius: functions.vw(4);

        p {
          color: variables.$color-base-white;
          text-align: center;
        }
      }
    }

    &-index {
      display: flex;
      column-gap: functions.vw(26);

      &__area {
        margin-top: functions.vw(60);
        display: flex;
        column-gap: functions.vw(47);
        padding: functions.vw(40) 0 functions.vw(87);
        align-items: center;
        justify-content: center;
      }

      &__section {
        &-list {
          display: flex;
          column-gap: functions.vw(26);
        }
      }
    }

    &__copylight {
      display: flex;
      justify-content: center;
      padding: functions.vw(11.5) 0;
      background-color: variables.$color-base-MossGreen;

      p {
        color: variables.$color-base-white;
        font-size: functions.vw(12);
      }
    }
  }
}
