@charset "utf-8";
@use "../common/variables" as variables;
@use "../common/functions" as functions;

header {
  background: none;
  display: flex;
  padding: functions.vw(6.4) functions.vw(32);
  justify-content: space-between;

  .header-symbol {
    max-width: functions.vw(240);
    padding: functions.vw(6) functions.vw(15);
    display: flex;
    align-items: center;
  }

  .header-index {
    display: flex;
    align-items: center;
    column-gap: functions.vw(36);
    font-size: functions.vw(14);
    color: variables.$color-base-white;

    &__section {
      &-list {
        display: flex;
        column-gap: functions.vw(40);
      }
    }

    &__contact {
      background-color: variables.$color-base-DarkGreen;
      padding: functions.vw(13) functions.vw(16);
      border-radius: functions.vw(4);
    }
  }
}
