@charset "utf-8";
@use "../common/variables" as variables;
@use "../common/functions" as functions;

/* ーーーー */
/* hero */
/* ファーストビュー */
/* ーーーー */

.hero {
  margin-top: -functions.vw(64);
  background-image: url('../img/TOP-Carouselgroup1.png');
  background-size: cover;
  background-position: center center;
  width: 100%;

  &-title {
    padding: functions.vw(118) 0 functions.vw(73) functions.vw(81);
    writing-mode: vertical-rl;
    font-family: variables.$shippori-mincho;
    font-size: functions.vw(28);
    font-weight: 600;
    color: variables.$color-base-MossGreen;
    letter-spacing: functions.vw(1.5);
  }
}

/* ーーーー */
/* news */
/* お知らせ */
/* ーーーー */

.news{
  &__inner{
    display: flex;
    margin: functions.vw(14) functions.vw(100) 0;
    align-items: center;
    justify-content: space-between;
  }

  &-contents{
    display: flex;
    align-items: center;
    max-width: functions.vw(1084);
    column-gap: functions.vw(45);

    &__title{
      display: flex;
      column-gap: functions.vw(10);
      color: variables.$color-base-MossGreen;
      align-items:end;
      &-en{
        font-size: functions.vw(24);
        font-weight: bold;
      }
      &-jp{
        font-size: functions.vw(18);
      }
    }

    &__area{
      display: flex;
      column-gap: functions.vw(28);
    }

    &__date{
      display: flex;
      align-items: center;
      column-gap: functions.vw(10);
      &-calendar{
        font-size: functions.vw(16);
      }
      &-jp{
        font-size: functions.vw(14);
        color: variables.$color-base-white;
        background-color: variables.$color-base-MossGreen;
        padding: functions.vw(2) functions.vw(16) functions.vw(4);
        border-radius: functions.vw(4);
      }
    }
  }
}

/* ーーーー */
/* concept */
/* 特徴 */
/* ーーーー */

.section-title{
  position: absolute;
  font-size: functions.vw(134);
  font-family: variables.$merriweather-sans;
  color: variables.$color-base-LightGreen;
  z-index: -1;
  top: functions.vw(50);
  left: -functions.vw(140);
}

.concept{
  &__inner{
    position: relative;
    z-index: 1;
    column-gap: functions.vw(80);
    margin-top: functions.vw(120);
    margin-bottom: functions.vw(150);
  }

  &-contents{
    max-width: functions.vw(320);
    &__title{
      color: variables.$color-base-MossGreen;
      &-en{
        display: flex;
        font-weight: bold;
        align-items: center;
        img{
          max-width: functions.vw(22);
          max-height: functions.vw(20);
          aspect-ratio: 1/1;
        }
        p{
          font-size: functions.vw(24);
        }
      }
      &-jp{
        font-size: functions.vw(24);
      }
    }

    &__top{
      margin-top: functions.vw(20);
      color: variables.$color-base-MossGreen;
      font-weight: bold;
      font-size: functions.vw(32);
    }
  }

  &-image{
    img{
      width: 110%;
    }
    &__back{
      position: absolute;
      z-index: -1;
      top: functions.vw(1240);
      left: functions.vw(970);
      img{
        max-width: functions.vw(440);
      }
    }
  }
}

/* ーーーー */
/* Course */
/* コース・料金 */
/* ーーーー */

.course{
  background-color: variables.$color-base-LightGreen;
  &__inner{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: functions.vw(111);
    padding-bottom: functions.vw(167);
  }

  &-contents{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__area{
      margin-top: functions.vw(64);
      display: flex;
      column-gap: functions.vw(80);
    }

    &__box{
      display: flex;
      flex-direction: column;

      &-title{
        margin-top: functions.vw(32);
        font-weight: bold;
        font-size: functions.vw(24);
        color: variables.$color-base-DarkGreen;
      }

      &-text{
        margin-top: functions.vw(24);
        display: flex;
        flex-direction: column;
        row-gap: functions.vw(13);
        font-size: functions.vw(18);
      }
    }

    &__more{
      margin-top: functions.vw(32);
    }
  }

  &-image{
    img{
      width: 110%;
    }
    &__back{
      position: absolute;
      z-index: 2;
      top: functions.vw(2340);
      left: functions.vw(970);
      img{
        max-width: functions.vw(440);
      }
    }
  }
}

.section-title_course{
  filter: brightness(95%);
}

/* ーーーー */
/* Review */
/* お客様の声 */
/* ーーーー */

.review{

  &__inner{
    margin-bottom: functions.vw(39);
  }

  &__back{
    z-index: -2;
  }

  &-contents{
    position: relative;
    z-index: 1;
    margin-top: -functions.vw(60);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
    
      &::before {
        content: "";
        position: absolute;
        width: functions.vw(600);
        height: functions.vw(488);
        left: functions.vw(420);
        top: -functions.vw(80);
        background-color: variables.$color-base-white;
        border-radius: 50%;
        z-index: -1;
      }
    }

    &__area{
      margin-top: functions.vw(60);
      display: flex;
      column-gap: functions.vw(55);
    }

    &__box{
      max-width: functions.vw(256);
    }

    &__image{
      border-radius: 50%;
      overflow: hidden;
    }

    &__user-name{
      margin-top: functions.vw(32);
      font-size: functions.vw(24);
      font-weight: bold;
      color: variables.$color-base-DarkGreen;
      text-align: center;
    }

    &__text{
      font-size: functions.vw(18);
      margin-top: functions.vw(24);
    }

    &__more{
      margin-top: functions.vw(48);
    }
  }
}
