@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3 */
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  margin: 0;
  overflow: visible; /* 2 */
  clear: both;
  color: inherit;
  border-top-width: 1px;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-transform: inherit; /* 2 */
  vertical-align: middle;
  /* 1 */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border-radius: 0;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  font: inherit; /* 2 */
  -webkit-appearance: button;
          appearance: button; /* 1 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-collapse: collapse;
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
}

/* ============================================ */
/**
追加項目
*/
.link-button {
  display: flex;
  margin-top: 24px;
  justify-content: end;
}
.link-button p {
  font-size: 14px;
  padding: 5.6px 26.63px;
  border: solid 2px;
  border-radius: 6px;
}

.range {
  max-width: 800px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.contents-top {
  margin-top: 5px;
  max-width: 342px;
  color: #468459; /* 線の色 */
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.contents__title {
  color: #468459; /* 線の色 */
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  align-items: center;
}
.contents__title p {
  font-size: 24px;
  font-weight: bold;
}

.deco {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.deco_left {
  transform: rotate(45deg); /* 45度回転 */
}
.deco_left .line:nth-child(2) {
  margin-left: 5px; /* 二本目の線を右に5px移動 */
}
.deco_right {
  transform: rotate(-45deg); /* 45度回転 */
}
.deco_right .line:nth-child(2) {
  margin-left: -5px; /* 二本目の線を右に5px移動 */
}
.deco .line {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 13px; /* 線の長さ */
  height: 2.44px; /* 線の太さ */
  background-color: #468459; /* 線の色 */
}

@media screen and (max-width: 768px) {
  [data-only-show=pc] {
    display: none !important;
  }
}

@media not all and (max-width: 768px) {
  [data-only-show=sp] {
    display: none !important;
  }
}

html {
  font-size: 1.6667vw;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.1111111111vw;
  line-height: 1.8;
  letter-spacing: 0;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 3.6111111111vw;
  }
}

img {
  width: 100%;
  height: auto;
}

svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

header {
  background: none;
  display: flex;
  padding: 0.4444444444vw 2.2222222222vw;
  justify-content: space-between;
}
header .header-symbol {
  max-width: 16.6666666667vw;
  padding: 0.4166666667vw 1.0416666667vw;
  display: flex;
  align-items: center;
}
header .header-index {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.5vw;
       column-gap: 2.5vw;
  font-size: 0.9722222222vw;
  color: #ffffff;
}
header .header-index__section-list {
  display: flex;
  -moz-column-gap: 2.7777777778vw;
       column-gap: 2.7777777778vw;
}
header .header-index__contact {
  background-color: #0C4324;
  padding: 0.9027777778vw 1.1111111111vw;
  border-radius: 0.2777777778vw;
}

/* ーーーー */
/* hero */
/* ファーストビュー */
/* ーーーー */
.hero {
  margin-top: -64px;
  background-image: url("/img/TOP-Carouselgroup1.png");
  background-size: cover; /* 画像をコンテナにぴったり合わせる */
  background-position: center center; /* 画像を中央に配置 */
  width: 100%; /* 横幅は100% */
}
.hero-title {
  padding: 118px 0 73px 81px;
  writing-mode: vertical-rl; /* 縦書きにする */
  font-family: "Shippori Mincho", serif;
  font-size: 28px;
  font-weight: 600; /* セミボールド */
  color: #468459;
  letter-spacing: 1.5vw;
}

/* ーーーー */
/* news */
/* お知らせ */
/* ーーーー */
.news__inner {
  display: flex;
  margin: 14px 100px 0;
  align-items: center;
  justify-content: space-between;
}
.news-contents {
  display: flex;
  align-items: center;
  max-width: 1084px;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
.news-contents__title {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: #468459;
  align-items: end;
}
.news-contents__title-en {
  font-size: 24px;
  font-weight: bold;
}
.news-contents__title-jp {
  font-size: 18px;
}
.news-contents__area {
  display: flex;
  -moz-column-gap: 28px;
       column-gap: 28px;
}
.news-contents__date {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.news-contents__date-calendar {
  font-size: 16px;
}
.news-contents__date-jp {
  font-size: 14px;
  color: #ffffff;
  background-color: #468459;
  padding: 2px 16px 4px;
  border-radius: 4px;
}

/* ーーーー */
/* concept */
/* 特徴 */
/* ーーーー */
.section-title {
  position: absolute;
  font-size: 134px;
  font-family: "Merriweather Sans", sans-serif;
  color: #F0F5E1;
  z-index: -1;
  top: 50px;
  left: -140px;
}

.concept__inner {
  position: relative;
  z-index: 1;
  -moz-column-gap: 80px;
       column-gap: 80px;
  margin-top: 120px;
  margin-bottom: 150px;
}
.concept-contents {
  max-width: 320px;
}
.concept-contents__title {
  color: #468459;
}
.concept-contents__title-en {
  display: flex;
  font-weight: bold;
  align-items: center;
}
.concept-contents__title-en img {
  max-width: 22px;
  max-height: 20px;
  aspect-ratio: 1/1;
}
.concept-contents__title-en p {
  font-size: 24px;
}
.concept-contents__title-jp {
  font-size: 24px;
}
.concept-contents__top {
  margin-top: 20px;
  color: #468459;
  font-weight: bold;
  font-size: 32px;
}
.concept-image img {
  width: 110%;
}
.concept-image__back {
  position: absolute;
  z-index: -1;
  top: 1240px;
  left: 970px;
}
.concept-image__back img {
  max-width: 440px;
}

/* ーーーー */
/* Course */
/* コース・料金 */
/* ーーーー */
.course {
  background-color: #F0F5E1;
}
.course__inner {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding-top: 111px;
  padding-bottom: 167px;
}
.course-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course-contents__area {
  margin-top: 64px;
  display: flex;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.course-contents__box {
  display: flex;
  flex-direction: column;
}
.course-contents__box-title {
  margin-top: 32px;
  font-weight: bold;
  font-size: 24px;
  color: #0C4324;
}
.course-contents__box-text {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  font-size: 18px;
}
.course-contents__more {
  margin-top: 32px;
}
.course-image img {
  width: 110%;
}
.course-image__back {
  position: absolute;
  z-index: 2;
  top: 2340px;
  left: 970px;
}
.course-image__back img {
  max-width: 440px;
}

.section-title_course {
  filter: brightness(95%); /* 95%に設定して色を明るくする */
}

/* ーーーー */
/* Review */
/* お客様の声 */
/* ーーーー */
.review__inner {
  margin-bottom: 39px;
}
.review__back {
  z-index: -2; /* タイトルを前面に表示 */
}
.review-contents {
  position: relative; /* 楕円を配置するために相対位置 */
  z-index: 1;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review-contents__title {
  /* 背景の楕円 */
}
.review-contents__title::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 488px;
  left: 420px;
  top: -80px;
  background-color: #ffffff;
  border-radius: 50%; /* 楕円形にする */
  z-index: -1; /* タイトルの後ろに配置 */
}
.review-contents__area {
  margin-top: 60px;
  display: flex;
  -moz-column-gap: 55px;
       column-gap: 55px;
}
.review-contents__box {
  max-width: 256px;
}
.review-contents__image {
  border-radius: 50%; /* 丸く切り抜く */
  overflow: hidden; /* はみ出た部分を非表示 */
}
.review-contents__user-name {
  margin-top: 32px;
  font-size: 24px;
  font-weight: bold;
  color: #0C4324;
  text-align: center;
}
.review-contents__text {
  font-size: 18px;
  margin-top: 24px;
}
.review-contents__more {
  margin-top: 48px;
}

footer {
  background-color: #F0F5E1;
}
footer .footer__inner {
  padding-top: 11.1111111111vw;
  max-width: 71.25vw;
  margin: 0 auto;
}
footer .footer-contents__area {
  margin-top: 2.7777777778vw;
  display: flex;
  -moz-column-gap: 4.0277777778vw;
       column-gap: 4.0277777778vw;
}
footer .footer-contents__title {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
footer .footer-contents__box {
  max-width: 31.875vw;
}
footer .footer-contents__top {
  max-width: unset;
  text-align: left;
}
footer .footer-contents__post {
  margin-top: 1.1111111111vw;
}
footer .footer-contents__phone {
  text-align: left;
  margin-top: 1.1111111111vw;
}
footer .footer-contents__phone span {
  font-size: 1.25vw;
}
footer .footer-contents__image {
  margin-top: 1.1111111111vw;
}
footer .footer-contents__contact {
  display: block;
  max-width: 20.8333333333vw;
  margin-top: 2.2222222222vw;
  background-color: #1B9240;
  padding: 0.9722222222vw 1.5277777778vw;
  border-radius: 0.2777777778vw;
}
footer .footer-contents__contact p {
  color: #ffffff;
  text-align: center;
}
footer .footer-index {
  display: flex;
  -moz-column-gap: 1.8055555556vw;
       column-gap: 1.8055555556vw;
}
footer .footer-index__area {
  margin-top: 4.1666666667vw;
  display: flex;
  -moz-column-gap: 3.2638888889vw;
       column-gap: 3.2638888889vw;
  padding: 2.7777777778vw 0 6.0416666667vw;
  align-items: center;
  justify-content: center;
}
footer .footer-index__section-list {
  display: flex;
  -moz-column-gap: 1.8055555556vw;
       column-gap: 1.8055555556vw;
}
footer .footer__copylight {
  display: flex;
  justify-content: center;
  padding: 0.7986111111vw 0;
  background-color: #468459;
}
footer .footer__copylight p {
  color: #ffffff;
  font-size: 0.8333333333vw;
}/*# sourceMappingURL=style.css.map */